.outer {
    border: 1px solid black; 
    height: 50px; 
    position: relative; 
    display: block; 
    width: 100px;
}

.inner {
    height: 25px; 
    width: 100px;
    overflow-x:scroll;
    width: 100%; 
    height: 100%; 
    white-space: preserve nowrap;
}

div, p {
    margin:0;
}

body {
    background: #EEF2FF url(/img/fade-blue.png) top center repeat-x;
    color: #000000;
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    margin: 8px;
}

.container {
    font: 1.2em sans-serif;
  
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }